@import '../../styles/main.scss';

.navbar {
  background-color: transparent;
  position: sticky;
  top: 0px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-menu {
    background-color: transparent;
    box-shadow: none;
  }

  .navbar-end,
  .navbar-brand {
    align-items: center;
    padding: 0 3vw;

    @include from($desktop) {
      padding: 0 4vw;
    }
  }

  .navbar-brand {
    font-weight: bold;
    color: $primary-color;
    font-size: 20px;
  }

  .navbar-end {
    gap: 1rem;
  }
}
